<div class="main-container">
    <header class="header header-6">
        Customer APP
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="nav-group">
                <input id="tabexample2" type="checkbox">
                <label for="tabexample2"><clr-icon shape="user"></clr-icon>&nbsp;Customer</label>
                <ul class="nav-list">
                    <li><a class="nav-link" routerLink="customer/new"><clr-icon shape="new" class="is-solid"></clr-icon>&nbsp;Create</a></li>
                    <li><a class="nav-link" routerLink="customer"><clr-icon shape="search"></clr-icon>&nbsp;Search</a></li>
                </ul>
            </section>
        </nav>
    </div>
</div>
